.app-content {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
 .calendar-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: fit-content;
  margin-left: auto;
  gap: 1rem;

  ::ng-deep .p-calendar {
    width: 100%;
  }

  ::ng-deep .p-inputtext {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 6px;
  }

  ::ng-deep .p-datepicker {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }

  .icon-button {
    background-color: #0a0a0a;
    color: white;
    border: none;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;

    i {
      vertical-align: middle;
    }

    &:hover {
      background-color:?>,m #dbdee0;
    }
  }
}

