<app-navbar></app-navbar>

<main>
  <section id="home" class="page-section">
    <app-home></app-home>
  </section>

  <section id="about" class="page-section">
    <app-about-me></app-about-me>
  </section>

  <section id="education" class="page-section">
    <app-education></app-education>
  </section>

  <section id="experience" class="page-section">
    <app-timeline></app-timeline>
  </section>

  <section id="skills" class="page-section">
    <app-skills></app-skills>
  </section>

  <section id="projects" class="page-section">
    <app-projects></app-projects>
  </section>

  <section id="contact" class="page-section">
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>
