<section class="hero">
  <div id="particles-js" class="particles-background"></div>

  <div class="hero-content">

    <div class="hero-left">

      <span class="greeting">Hello, I'm</span>

      <h1>
        Mohan Sai
        <span class="gradient-text">
          Full Stack Java Developer
        </span>
      </h1>

      <p>
        Passionate Full Stack Java Developer with 2+ years of experience
        building scalable web applications using Java, Spring Boot,
        Angular, Microservices and Cloud technologies.
      </p>

      <div class="hero-buttons">

        <a href="#projects"class="btn-primary">
          View Projects
        </a>
   

        <a href="assets/Mohan_sai_Mudigonda.pdf" target="_blank"
           download
           class="btn-secondary">
          Download Resume
        </a>

      </div>

      <div class="social-links">

        <a href="https://github.com/Mudigonda45?tab=repositories" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://linkedin.com/">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="mailto:mudigondamohansai@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>

      </div>

    </div>

    <div class="hero-right">

      <div class="image-circle">
        <img src="assets/passphoto.jpg" alt="Mohan Sai">
      </div>
0
      <div class="experience-badge">
        <span>2+</span>
        Years Experience
      </div>

    </div>

  </div>

</section>
